<section class="cases">
  <p class="cases-text">This is what we do</p>
  <h2 class="cases-title">Business Cases</h2>
  <p class="cases-text-min">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="cases-list">
    <li class="cases-list-item">
      <img src="" alt="" />
    </li>
    <li class="cases-list-item">
      <img src="" alt="" />
    </li>

    <li class="cases-list-item">
      <img src="" alt="" />
    </li>

    <li class="cases-list-item">
      <img src="" alt="" />
    </li>

    <li class="cases-list-item">
      <img src="" alt="" />
    </li>
    <li class="cases-list-item">
      <img src="" alt="" />
    </li>

    <li class="cases-list-item">
      <img src="" alt="" />
    </li>

    <li class="cases-list-item">
      <img src="" alt="" />
    </li>
  </ul>
</section>
